{%  extends '/layouts/base.twig' %}

{% block content %}
<form action="{{ base ~ 'notes/add'}}" method="POST">
    <p>Name:</p>

    {{ form.input('name') }}
    <p>Email:</p>
    {{ form.input('email') }}
    <p>Homepage</p>
    {{ form.input('website') }}
    <p>Message</p>
    {{ form.textarea('message') }}
    <br>
    <button class="flat-btn" type="submit">Save</button>
</form>
{% endblock %}


