{%  extends '/layouts/base.twig' %}
{%  block title %}
    {{ parent() }}
    <p>List of notes</p>
{% endblock %}
{% block content %}
<div class="component">
    {%  for note in notes %}
        <div class="article">
        <h1>{{ note.name }}</h1>
        <a href="mailto:{{ note.email }}">{{ note.email }}</a><br>
        <a href="{{ note.website }}">{{ note.website }}</a><br>
        <p>{{ note.message }}</p>
            <a href="/note/{{ note.id }}">View</a>
        </div>
    {%  endfor %}
</div>
{%  endblock %}